* {
    box-sizing: border-box;
    text-align: center
}

.game {
    overflow: hidden;
    background-color: #9b59b6;
    height: 100vh;
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    color: #fff;
}

.container {
    width: 50%;
    height: 100%;
    margin: 100px auto
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background-image: url(../img/selectP.png), -webkit-linear-gradient(left, #ecf0f1 0%, #bdc3c7 100%);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #2980b9;
    margin: 20px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    width: 60%;
    outline: none
}

option {
    color: #777;
}

button {
    background-color: #1abc9c;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #16a085;
    border-radius: 5px;
    outline: none
}

.images {
    margin-top: 50px
}

.image {
    float: left;
    height: auto;
    width: 50%
}

img {
    height: 100%;
    width: 100%
}

.player2 {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1)
}

.result {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 100px
}
